body {
    background-color: #05AD98;
}

.main-container {
    background-color: #BBBFBF;
    width: 95%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
}

.main-container h1 {
    color: #BB6C43;
}

.main-container td {
    color: #2E2E2E;
}

.main-container a {
    font-family: monospace;
    color: #BB6C43;        /* Your chosen burnt orange */
    text-decoration: none;
}